body{
	color: white;
	background-color: black;
}
h1{
	text-align: center;
	color: rebeccapurple;
	font-size: 37px;
	background-color: pink;
}
h2{
	text-align: center;
	color: gold;
	font-size: 30px;
	background-color: darkred;
}
p{
	font-size: 23px;
}
e1{
	color: olive;
	background-color: navy;
}
