#body{            
	color: white;
	background-color: black;              
}                                
#h1{
	text-align: center;
	color: rebeccapurple;
	font-size: 37px;
	background-color: pink;

}
#h2{
	text-align: center;
	color: goldenrod;
	font-size: 30px;
	background-color: darkred;
}
p{
	font-size: 23px;
}
#e1{
	color: olive;
	background-color: navy;
}
#e2{
	text-align: center;
}
#h3{
	text-align: center;
	color: black;
	background-color: deeppink;
	font-size: 30px;
	
}
#h4{
	text-align: center;
	font-size: 23px;
}
#h5{
   text-align: center;
   color: deeppink;
   background-color: white;
   font-size: 30px;
}
#u{
	color: green;
	font-size: 25px;
}
#g{
	margin-left: 3%; 
	height: 350px ;
}
#k{ margin-left: 1%;
	height: 350px;
	
}
#i{
   margin-left: 4%;
   height: 350px;
}
#a{
  margin-left: 5%;
  height: 350px;
}
#s{
  margin-left: 10%;
  height: 350px;
}
#h6{
	text-align:center ;
	font-size: 30px;
	color: darkred;
	background-color: purple;
} 
#tt{
	font-size: 25px;
	color: deeppink;
	text-align: center;
}
#dd{
	margin-left: 10px;
	height: 360px;
}
#center{
	text-align: center;
	font-size: 30px;
	color: white;
	background-color: darkred;
}

